<h1>Listing hashtags</h1>

<table>
  <tr>
    <th>Newtag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hashtags.each do |hashtag| %>
  <tr>
    <td><%= hashtag.Newtag %></td>
    <td><%= link_to 'Show', hashtag %></td>
    <td><%= link_to 'Edit', edit_hashtag_path(hashtag) %></td>
    <td><%= link_to 'Destroy', hashtag, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hashtag', new_hashtag_path %>
