<p id="notice"><%= notice %></p>

<p>
  <b>Hashtag:</b>
  <%= @strstr %>
  <br/>
  <br/>
  <b>Tweets:</b>
  <p><%=  @sss %></p>
</p>


<%= link_to 'Edit', edit_hashtag_path(@hashtag) %> |
<%= link_to 'Back', hashtags_path %>
